# Note: this workflow assumes that your github user name = your Docker Hub user name.
# It will also probably break for GitHub users or repositories with uppercase letters.

name: Automated Build

on:
  push:
    branches:
    - main

env:
  DOCKER_BUILDKIT: 1

jobs:
  push:

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - 
        uses: actions/checkout@v2

      -
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      -
        uses: docker/setup-buildx-action@v1

      -
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/${{ github.repository }}
          build-args: |
            GIT_SHA=${{ github.sha }}

